@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 800;
}
h3 {
  font-weight: 600;
}
.header-text {
  margin-top: 60px;
}

.profile-section {
  background-color: #fafafa;
}

.container {
  padding-top: 20px;
}

.cover {
  z-index: -1;
}
.btn {
  box-shadow: none !important;
}

.primary {
  background-color: #ff5300 !important;
  color: #fff;
  border-radius: 3px;
  margin-right: 10px;
  text-transform: capitalize;
  box-shadow: none;
}

.secondary {
  background-color: none !important;
  background: none !important;
  border: solid 1px;
  border-radius: 3px;
  border-color: #ff5300 !important;
  color: #ff5300;
  margin-right: 10px;
  text-transform: capitalize;
  box-shadow: none;
}

.secondary:hover {
  background-color: #ff5300 !important;
  color: #fafafa;
  box-shadow: none;
}
.offset {
  margin-top: -80px !important;
}

.primar-color-username {
  color: #ff5300;
  font-weight: 500;
}
.post-item-left-bar {
  position: absolute;
  left: 1px;
  height: 45px;
  width: 3px;
  background-color: #ff5300;
}

.push {
  min-height: calc(60vh - 100px);
}

.text-muted {
  color: #c2c2c2 !important;
}

.primary-text {
  color: #ff5300;
}

.wid {
  max-height: 600px;
}

.breadcrumb {
  background-color: transparent;
}

.activee {
  border-bottom: 3px solid #ff5300;
  border-radius: 2px;
}

.text__color {
  color: #ff5300;
}

.dropdown-item:hover {
  color: #cb4504 !important;
  cursor: pointer;
}

.auth {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  padding: 20px;
}

.nav-link {
  font-weight: 500 !important;
}

.react-chatbot-kit-chat-message-container,
.chatBot {
  bottom: 50px;
  display: block;
  position: fixed;
  right: 20px;
}

.learning-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.learning-options-button {
  padding: '0.5rem';
  border-radius: '25px';
  background: 'transparent';
  border: '1px solid green';
  margin: '3px';
}
