* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  padding: 60px;
}

input {
  color: blueviolet;
  border: 1px solid blueviolet;

  font-size: 1.2rem;
  width: 100%;
}

