html,
body {
  background-color: #21232a;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  display: block;
  justify-content: center;
  padding: 10rem;
}
